<section class="row">
  <div class="col-2" style="margin-top: 20px">
    <app-product-filter [category]="category"></app-product-filter>
  </div>

  <div class="col">
    <section class="row row-cols-auto">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col" style="width: 22rem; margin: 20px  15px">
          <app-product-card [product]="p"></app-product-card>
        </div>
        <!-- <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div> -->
      </ng-container>
    </section>
  </div>
</section>
